* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  white;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
    color: #965454;
  
}

.board {
  border: 1rem solid #d4bcb4;
  background: #d4bcb4;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: #965454;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

.X {
  color: #e2d7d3;
}
.O {
  color: #9c3030;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
 
  color:#965454;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
p {
  font-size: 12px;
}

